<%- include('../../public/template/header.html') %>


<div class="right menu">
  <% if(Cookie) { %>
    <a class="ui item">
    <%= User.name %>
    </a>
    <a class="ui item" href="/logout">
    Logout
    </a>
  <% } else { %>
    <a class="ui item" href="/login">
    Login
    </a>
    <a class="ui item" href="/register">
    Sign-up
    </a>
  <% } %>
</div>
</div>
</div>


<div>
	<h1>User Profile</h1>
</div>
<div class="ui divider"></div>
<div class="ui center aligned grid">
    <div class="row">
        <div class="five wide column">
          <div class="ui vertical fluid menu">
            <div class="item">
              Name: <%= User.name %>
            </div>
            <div class="item">
              Email Id: <%= User.email %>
            </div>
            <div class="item">
              DOB: <%= User.DOB %>
            </div>
            <div class="item">
              Phone no:  <%= User.phoneNo %>
            </div>
          </div>
        </div>
    </div>
</div>

<%- include('../../public/template/footer.html') %>