<%- include ('../public/template/header.html') %>

<div class="right menu">
  <% if(Cookie) { %>
    <a class="ui item" href="/userProfile">
    <%= User.name %>
    </a>
    <a class="ui item" href="/logout">
    Logout
    </a>
  <% } else { %>
    <a class="ui item" href="/login">
    Login
    </a>
    <a class="ui item" href="/register">
    Sign-up
    </a>
  <% } %>
</div>
</div>
</div>


<div class="ui container">
<h1>Boards...</h1>
<% if (error) { %>
    <p>error</p>
<% } %>
    
<% if(User) { %>
    <% var board = User.boards %>
    <% if(board) { %>
      <div class="ui grid">
        <% board.forEach(function(data) { %>
          <div class="four wide column">
            <div class="ui vertical fluid menu">
                <div class="header item">
                  <h4><%= data.ListTitle %></h4>
                </div>
                <% var List = data.boardLists %>
                <% for(var i=0; i<List.length; i++) { %>
                    <div class="item">
                      <input type="checkbox" name="listItem"><label id="<%= List[i] %>"><%= List[i] %></label></input>
                      <button class="ui right floated secondary button mini">Delete</button>
                    </div>
                <% } %>
              <div class="row">
                <div class="item">
                  <form action="/myBoard" method="POST">
                    <input type="text" placeholder="Add To List" name="boardData" required>
                    <input type="hidden" name="Id" value=<%= data._id %>>
                    <button class="ui secondary button mini">Add</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
              <% }) %>
            <% } %>
        <% } %>

        <div class="three wide column">
          <form action="/myNewBoard" method="POST">
            <input type="text" placeholder="Board Title" name="ListTitle" required>
            <div class="item">
              <button class="ui secondary button tiny">New List</button>
            </div>
          </form>
        </div>

      </div>
</div>

<%- include ('../public/template/footer.html') %>