<%- include ('../public/template/header.html') %>

<div class="right menu">
  <% if(Cookie) { %>
    <a class="ui item" href="/userProfile">
    <%= User.name %>
    </a>
    <a class="ui item" href="/logout">
    Logout
    </a>
  <% } else { %>
    <a class="ui item" href="/login">
    Login
    </a>
    <a class="ui item" href="/register">
    Sign-up
    </a>
  <% } %>
</div>
</div>
</div>

<h1>Boards...</h1>
<% if (error) { %>
    <p>error</p>
<% } %>
    
<% if(User) { %>
    <% var board = User.boards %>
    <% if(board) { %>
      <div class="ui grid">
        <% board.forEach(function(data) { %>
          <div class="ui card">
            <div class="four wide column">
              <div class="content">
                <div class="center aligned header"><h4><%= data.ListTitle %></h4></div>
                <% console.log(data.boardLists) %>
                <% var List = data.boardLists %>
                <% for(var i=0; i<List.length; i++) { %>
                    <label id="<%= i %>" class="listItem"><%= List[i] %></label><br>
                <% } %>
              </div>
              <div class="extra content">
                <form action="/myBoard" method="POST">
                  <input type="text" placeholder="Add To List" name="boardData" required>
                  <input type="hidden" name="Id" value=<%= data._id %>>
                  <button class="ui button">Add</button>
                </form>
              </div>
            </div>
                </div>
              <% }) %>
            <% } %>
        <% } %>
        <div class="four wide column">
          <form action="/myNewBoard" method="POST">
            <input type="text" placeholder="Board Title" name="ListTitle" required>
            <div class="extra content">
              <button class="ui button">New List</button>
            </div>
          </form>
        </div>
      </div>

<%- include ('../public/template/footer.html') %>