<%- include ('./template/header') %>

<div class="ui container">
<h1>Boards...</h1>
    
<% if(User) { %>
    <% var board = User.boards %>
    <% if(board) { %>
      <div class="ui stackable grid">
        <% board.forEach(function(data) { %>
          <div class="five wide column">
            <div class="ui vertical fluid menu">
                <div class="header item">
                  <h4><%= data.ListTitle %></h4>
                  <i id="closeList" class="window close red link icon large"></i>
                  <form id="deleteList" action="/myList/<%= data._id %>" method="POST"></form>
                </div>
                <% var List = data.boardLists %>
                <% for(var i=0; i<List.length; i++) { %>
                    <div>
                      <div class="item">
                        <text><%= List[i] %></text>
                        <i id="closeListItem" class="trash alternate outline icon large"></i>
                        <form id="deleteListItem" action="/myList/<%= data._id %>/myListItem/<%= i %>" method="POST"></form>
                      </div>
                    </div>
                <% } %>
              <div class="row">
                <form action="/myList/<%= data._id %>/myListItem" method="POST">
                  <div class="ui fluid action mini input">
                    <input type="text" placeholder="Add To List" name="boardData" required>
                    <button class="ui secondary button mini">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
              <% }) %>
            <% } %>
        <% } %>

        <div class="five wide column">
          <form action="/myBoard/myNewList" method="POST">
            <div class="ui action mini input">
              <input type="text" placeholder="Board Title" name="ListTitle" required>
              <button class="ui secondary button mini"><i class="plus icon"></i>New List</button>
            </div>
          </form>
        </div>

      </div>
</div>

<text id="item">hello</text>

<%- include ('./template/footer.html') %>