<%- include ('./template/header') %>

<div class="ui container">
<h1>Boards...</h1>
    
<% if(User) { %>
    <% var board = User.boards %>
    <% if(board) { %>
      <div class="ui grid mobile computer tablet only">
        <% board.forEach(function(data) { %>
          <div class="four wide column">
            <div class="ui vertical fluid menu">
                <div class="header item text container">
                  <h4><%= data.ListTitle %></h4>
                  <form action="/myList/<%= data._id %>" method="POST">
                    <i onclick="submit()" class="window close red link icon"></i>
                  </form>
                </div>
                <% var List = data.boardLists %>
                <% for(var i=0; i<List.length; i++) { %>
                    <div class="item">
                      <text><%= List[i] %></text>
                      <form action="/myList/<%= data._id %>/myListItem/<%= i %>" method="POST">
                        <button class="ui right floated secondary button mini">Done</button>
                      </form>
                    </div>
                <% } %>
              <div class="row">
                <div class="item">
                  <form action="/myList/<%= data._id %>/myListItem" method="POST">
                    <input type="text" placeholder="Add To List" name="boardData" required>
                    <button class="ui secondary button mini">Add</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
              <% }) %>
            <% } %>
        <% } %>

        <div class="three wide column">
          <form action="/myBoard/myNewList" method="POST">
            <input type="text" placeholder="Board Title" name="ListTitle" required>
            <div class="item">
              <button class="ui secondary button tiny">New List</button>
            </div>
          </form>
        </div>

      </div>
</div>

<%- include ('./template/footer.html') %>